body {
  background-color: #222831;
  text-align: center;
  color: #eeeeee;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sketch {
  background-color: #eeeeee;
  width: 512px;
  height: 512px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pixel {
  width: 32px;
  height: 32px;
}
