@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #222831;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #eeeeee;
  margin: 0%;
  overflow: hidden;
}

#sketch {
  background-color: #eeeeee;
  width: 500px;
  height: 500px;
  display: grid;
}

.pixel {
  user-select: none;
}
